<h1 *ngIf="size === 1">
  <span class="badge bg-secondary">{{ counter }}</span>
</h1>
<h2 *ngIf="size === 2">
  <span class="badge bg-secondary">{{ counter }}</span>
</h2>
<h3 *ngIf="size === 3">
  <span class="badge bg-secondary">{{ counter }}</span>
</h3>
<h4 *ngIf="size === 4">
  <span class="badge bg-secondary">{{ counter }}</span>
</h4>
<h5 *ngIf="size === 5">
  <span class="badge bg-secondary">{{ counter }}</span>
</h5>
<h6 *ngIf="size === 6">
  <span class="badge bg-secondary">{{ counter }}</span>
</h6>
